page-home {

}
ion-content {
    background-image: url('../assets/img/croke_park.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

